@media(max-width:900px){

    .routes-container{

        grid-template-columns:1fr;

    }


}


@media(max-width:600px){

    .route-box ul{

        grid-template-columns:1fr;

    }

}
@media (max-width: 768px) {

    .tracking-content h2 {
        font-size: 32px;
    }

    .tracking-form {
        flex-direction: column;
        align-items: stretch;
    }

    .tracking-form input,
    .tracking-form button {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 992px) {
    .why-us-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .why-us-container {
        grid-template-columns: 1fr;
    }

    .why-card {
        padding: 30px 25px;
    }
}